<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >



                 <!-- Sitemesh Filter -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>net.therap.controller.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>net.therap.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>net.therap.controller.WelcomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodListController</servlet-name>
        <servlet-class>net.therap.controller.FoodListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteController</servlet-name>
        <servlet-class>net.therap.controller.VoteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoteController</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FoodListController</servlet-name>
        <url-pattern>/foodlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>



    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>net.therap.filter.LoginFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/welcome</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/foodlist</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/vote</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/fmt.tld</taglib-location>
        </taglib>
    </jsp-config>
    
    <resource-ref>
        <description>Oracle Datasource example</description>
        <res-ref-name>jdbc/myoracle</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
   </resource-ref>

</web-app>
